
body{
    padding-left: 10%;
    padding-right: 10%;
}

.header{
    overflow:hidden;
}

.header-name{
    float: left;
}

.header-link{
    float: right;
    display: flex;
    flex-direction: row;
}

.header-link li{
    list-style-type: none;
    margin-right: 5%;
}

.main-title{
    text-align: center;
}

.sub-title{
    text-align: center;
    color:grey;
}

.hero-content{
    padding-top: 10%;
}