
body{
    padding-left: 5%;
    padding-right: 5%;
}

.header{
    display: flex;
}

.header-name{
    width: 50%;
}

.header-link{
    display: flex;
    width:50%;
    justify-content: flex-end;

}

.header-link li{
    list-style-type: none;
    margin-right: 5%;
}

.hero-content{
    padding-top: 5%;
    padding-bottom: 5%;
    border: 5px solid;
    border-width: thin;
}

.main-title{
    text-align: center;
}

.sub-title{
    text-align: center;
    color:grey;
}

.middle-content{
    display: flex;
}

.project-content{
    padding-right:5%;
    border-bottom: 5px solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-width: thin;
    padding-left : 3%;
}

.project-content hr{
    margin-left:-26%;
    margin-right: -43%;
    border-color: black;
    border-width: thin;
}

.project-sub-title{
    padding-bottom: 1%;
}