
body{
    padding-left: 5%;
    padding-right: 5%;
}

.header{
    display: flex;
}

.header-name{
    width: 50%;
}

.header-link{
    display: flex;
    width:50%;
    justify-content: flex-end;

}

.header-link li{
    list-style-type: none;
    margin-right: 5%;
}

.header-link li a{
    color:black;
    text-decoration: none;
}

.hero-content{
    padding-top: 5%;
    padding-bottom: 5%;
}

.main-title{
    text-align: center;
}

.sub-title{
    text-align: center;
    color:grey;
}

.middle-content{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.project-section{
    border:1px solid;
    width:11%
}

.project-section p , .project-section  h1{
    padding-left:5%;
    padding-right:5%;
}

.project-content hr{
    border-color: grey;
}

.work-section{
    border:1px solid;
    border-left:none;
    width:20%;
}

.work-section p , .work-section h1, .work-section a{
    padding-left:5%;
    padding-right: 5%;
}

.work-content-1{
    border-bottom: 1px solid;
    padding-bottom: 5%;
}

.education-section{
    border:1px solid;
    border-left:none;
    width:20%;
}

.education-section p , .education-section h1, .education-section li{
    padding-left:5%;
    padding-right: 5%;
}

.review-section{
    place-self: center;
    border:1px solid;
}

.review-content{
    display:flex;
}

.review-section h1,.review-content p{
    padding-left:5%;
    padding-right: 5%;
}

.review-content div{
    border:1px solid;
    padding:5%;
    padding-right:5%;
}